@model SistemaGCS.Models.Miembro_Proyecto
@{
    ViewBag.Title = "Agregar";
    List<SistemaGCS.Models.Proyecto> TipoP = ViewBag.Tipopro;
    List<SistemaGCS.Models.Rol> TipoR = ViewBag.Tiporol;
    List<SistemaGCS.Models.Usuario> TipoU = ViewBag.Tipousua;

    Model.Id_proyecto = ViewBag.idproyecto;
}

<div class="full-box page-header">
    <h3 class="text-left">
        <i class="fas fa-plus fa-fw"></i> &nbsp; Administración de MIEMBROS DE PROYECTO
    </h3>
</div>

<div class="container-fluid">

    @* Mensajes de error por validaciones *@
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    @using (Html.BeginForm("GuardarUnico", "Miembro_Proyecto", FormMethod.Post, new { id = "frm-productos" }))
    {
        @Html.HiddenFor(x => x.Id_miembro)
        @Html.HiddenFor(x => x.Id_proyecto)

        <div><i class="fas fa-user"></i> &nbsp; CREANDO NUEVO MIEMBRO</div>
        <div class="row">

            <div class="col-12 col-md-6">
                <div class="form-group">
                    @Html.Label("Usuario")
                    <select name="Id_usuario" class="form-control">
                        <option value="">--Seleccione--</option>
                        @foreach (var t in TipoU)
                        {
                            <option @(Model.Id_usuario == t.Id_usuario ? "selected" : "") value="@t.Id_usuario">
                                @t.Nombre @t.Apellido
                            </option>
                        }
                    </select>
                    @Html.ValidationMessageFor(x => x.Id_usuario, null, new { @class = "label label-danger" })
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    @Html.Label("Rol")
                    <select name="Id_rol" class="form-control">
                        <option value="">--Seleccione--</option>
                        @foreach (var t in TipoR)
                        {
                            <option @(Model.Id_rol == t.Id_rol ? "selected" : "") value="@t.Id_rol">
                                @t.Nombre
                            </option>
                        }
                    </select>
                    @Html.ValidationMessageFor(x => x.Id_rol, null, new { @class = "label label-danger" })
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    @Html.Label("Proyecto")
                    <select class="form-control" disabled>
                        @foreach (var t in TipoP)
                        {
                            <option @(Model.Id_proyecto == t.Id_proyecto ? "selected" : "") value="@t.Id_proyecto">
                                @t.Nombre
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <p class="text-center mt-4">
            <button type="submit" class="btn btn-outline-primary">
                <i class="far fa-save"></i> &nbsp; Registrar
            </button>
            &nbsp; &nbsp;
            <a href="##" class="btn btn-outline-danger" onClick="history.go(-1); return false;">Cancelar</a>
        </p>
    }
</div>
