@model List<SistemaGCS.Models.Miembro_Proyecto>
@{
    ViewBag.Title = "Gestión de Equipo del Proyecto";
    var miembros = ViewBag.listar as List<SistemaGCS.Models.Miembro_Proyecto>;
    var proyecto = ViewBag.proyecto as SistemaGCS.Models.Proyecto;
}

<!-- Encabezado -->
<div class="full-box page-header">
    <h3 class="text-left">
        Gestión de Equipo del Proyecto
    </h3>
    <div class="mb-3">
        <a href="~/Miembro_Proyecto/AgregarUnico/@proyecto.Id_proyecto" class="btn btn-outline-success">Registrar Miembro</a>
        <a href="##" class="btn btn-outline-primary" onClick="history.go(-1); return false;">Volver</a>
    </div>
</div>

<!-- Tabla de miembros -->
<div class="container-fluid">
    <div class="table-responsive">
        <table id="datatable" class="display" style="width:100%">
            <thead>
                <tr class="text-center">
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Rol</th>
                    <th>Proyecto</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in miembros)
                {
                    <tr class="text-center">
                        <td>@item.Id_miembro</td>
                        <td>@item.Usuario.Nombre @item.Usuario.Apellido</td>
                        <td>@item.Rol.Nombre</td>
                        <td>@item.Proyecto.Nombre</td>
                        <td>
                            <a href="~/Miembro_Proyecto/AgregarUnico/@item.Id_miembro" class="btn btn-outline-primary btn-sm">Editar</a>
                            <a href="~/Miembro_Elemento/IndexListar/@item.Id_miembro" class="btn btn-outline-info btn-sm">Ver Elemento</a>

                            <a href="~/Miembro_Proyecto/Eliminar/@item.Id_miembro"
                               class="btn btn-outline-danger btn-sm"
                               onclick="return confirm('¿Estás seguro que deseas eliminar este miembro del proyecto?');">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
