@model SistemaGCS.Models.Elemento_Configuracion
@{ ViewBag.Title = "Agregar";
    List<SistemaGCS.Models.Fase> fase = ViewBag.Fase;


    Model.Id_fase = ViewBag.idproyecto;


}



<div class="full-box page-header">
    <h3 class="text-left">
        <i class="fas fa-plus fa-fw"></i> &nbsp; Administracion de Elementos de configuracion
    </h3>
    <p class="text-justify">

    </p>
</div>

@using (Html.BeginForm("GuardarUnico", "Elemento_Configuracion", FormMethod.Post, new { id = "frm-categoria" }))
{
    @Html.HiddenFor(x => x.Id_elementoconfiguracion)
    @Html.HiddenFor(x => x.Id_fase)

    <div class="card">
        <div class="card-header">Informacion del Elemento Configuracion</div>
        <div class="card-body">

            <div class="form-group">
                @Html.LabelFor(x => x.Codigo)
                @Html.TextBoxFor(x => x.Codigo, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Codigo, null, new { @class = "label label-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Nombre)
                @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "label label-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Nomenclatura)
                @Html.TextBoxFor(x => x.Nomenclatura, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Nomenclatura, null, new { @class = "label label-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Id_fase)
                <select name="Id_fase" class="form-control" disabled = "disabled">
                    <option @(Model.Id_fase.Equals("") ? "selected" : "") value="">--Seleccione fase--</option>
                    @foreach (var t in fase)
                    {
                        <option @(Model.Id_fase.Equals(t.Id_fase) ? "selected" : "")
                                value="@t.Id_fase">
                            @t.Nombre - @t.Metodologia.Nombre
                        </option>
                    }
                </select>
                @Html.ValidationMessageFor(x => x.Id_fase, null, new { @class = "label label-danger" })
            </div>




        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-outline-primary">GUARDAR</button>
            <a href="##" class="btn btn-outline-primary" onClick="history.go(-1); return false;">Cancelar</a>
        </div>
        <br /><br /><br />
    </div>}
