@model List<SistemaGCS.Models.Elemento_Configuracion>
@{
    ViewBag.Title = "Index";

    List<SistemaGCS.Models.Elemento_Configuracion> TipoU = ViewBag.listar;


    SistemaGCS.Models.Fase fase = ViewBag.proyecto;


}

<!-- Page header -->
<dv class="full-box page-header">
    <h3 class="text-left">


        <a href="~/Elemento_Configuracion/AgregarUnico/@fase.Id_fase"  class="btn btn-outline-success">Registrar Nuevo </a>
        <a href="##" class="btn btn-outline-primary" onClick="history.go(-1); return false;">Volver</a>

        
    </h3>

</dv>
<!--CONTENT-->
<!-- Content here-->
<div class="container-fluid">
    @using (Html.BeginForm("IndexListar", "Elemento_Configuracion", FormMethod.Post))
    {
    }
    <div class="table-responsive">
        <table id="datatable" class="display" style="width:100%">
            <thead>
                <tr class="text-center">

                    <th>#</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Nomenclatura</th>
                    <th>Fase - Metodologia </th>
                    
                    <th>OPCIONES</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in TipoU)
                {
                    <tr class="text-center">
                        <td>@(item.Id_elementoconfiguracion)</td>
                        <td>@(item.Codigo)</td>
                        <td>@(item.Nombre)</td>
                        <td>@(item.Nomenclatura)</td>
                        
                        <td>@(item.Fase.Nombre) - @(item.Fase.Metodologia.Nombre) </td>                        
                        
                        <td>
                            @*<a onclick="return confirm('Esta Seguro que desea Actualizar Datos del registro?')" href="~/Miembro_Proyecto/Agregar/@item.Id_fase" class="btn btn-primary">Editar</a>*@
                            @*<a onclick="return confirm('Esta Seguro que desea Cancelar el registro?')" href="~/Miembro_Proyecto" class="btn btn-danger">Cancelar</a>*@
                            <a href="#" class="btn btn-outline-info">EditaR</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

